/////////////////////////////////////////////////////////以下為demo範例///

// 首頁區塊設定
.mpSlider {
  .item {
    img {
      min-height: 350px;
      object-fit: cover;
    }
    .titleBox {
      position: absolute;
      max-width: rem(1200);
      padding: 20px;
      width: 100%;
      margin: auto;
      inset: 0 0 70px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      @include screen('mobile') {
        padding: 20px 60px;
      }
      h1,
      h2 {
        padding: 0;
        margin: 0 0 10px;
        font-size: rem(24);
        @include screen('mobile') {
          font-size: rem(18);
        }
      }
      h1 {
        font-size: rem(40);
        @include screen('tablet') {
          font-size: rem(30);
        }
        @include screen('mobile') {
          font-size: rem(22);
        }
      }
      p {
        margin: 0;
        font-size: rem(16);
      }
    }
    .txtBox {
      position: absolute;
      background: rgb(8 31 56/80%);
      bottom: 0;
      left: 0;
      width: 100%;
      .txt {
        font-size: rem(18);
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        color: #fff;
        max-width: 75rem;
        @include screen('tablet') {
          font-size: rem(16);
        }
      }
    }
  }
}
section {
  .titleBox {
    font-size: rem(28);
    text-align: center;
    font-weight: bold;
    padding: 5% 0 3%;
    color: $titleboxcolor;
    letter-spacing: 2px;
    @include screen('tablet') {
      font-size: rem(22);
    }
    .entext {
      display: block;
      color: #7c7373;
      font-size: rem(14);
      font-weight: normal;
      padding: 5px;
      position: relative;
      margin: o auto;
      letter-spacing: 1px;
      &:before {
        content: '------------------';
        color: #bdb8b8;
        letter-spacing: -2px;
        font-size: rem(10);
        line-height: 1em;
        margin-right: 5px;
      }
      &:after {
        content: '------------------';
        color: #bdb8b8;
        letter-spacing: -2px;
        font-size: rem(10);
        line-height: 1em;
        margin-left: 5px;
      }
    }
  }
  .listBox {
    margin-bottom: 30px;
  }
  .more {
    display: block;
    width: 170px;
    position: relative;
    margin: 0 auto;
    color: $colorWord;
    font-size: rem(15);
    padding: 10px;
    a {
      color: $colorWord;
      display: block;
      position: relative;
      background: url('../images/icon_more.png') no-repeat left 2.2em center;
      background-size: 16px auto;
      &:after {
        content: '';
        height: 5px;
        background: url('../images/icon_more_arrow.png') no-repeat right top;
        background-size: auto 5px;
        position: absolute;
        left: 4em;
        top: 0.5em;
        animation: arrow 2s 1s infinite linear;
      }
      &:hover,
      &:focus {
        color: $aHover;
        box-shadow: none;
      }
      &:focus-visible {
        outline: $aFocus 2px dashed !important;
        // box-shadow: 0 0px 0px 2px $aFocus inset;
      }
    }
    @keyframes arrow {
      from {
        width: 20px;
      }
      to {
        width: 88px;
      }
    }
  }
}

.listTypeA {
  .item {
    border: #e2e2e2 1px solid;
    border-width: 1px 0;
    a {
      display: flex;
      align-items: center;
      padding: 20px 0;
      @include screen('xsMobile') {
        align-items: flex-start;
        flex-direction: column;
      }
      &:hover,
      &:focus-visible {
        .title {
          color: #0094e0;
          cursor: pointer;
        }
      }
    }
    & + .item {
      border-width: 0 0 1px;
    }
  }
  .date {
    text-align: center;
    width: 170px;
    color: #545454;
    @include screen('xsMobile') {
      text-align: left;
      margin-bottom: 10px;
    }
  }
  .title {
    flex: 1 0 calc(100% - 170px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #1a1a1a;
    margin: 0;
    font-weight: normal;
    font-size: rem(16);
  }
}

.listTypeB {
  .gazette {
    .titleBox {
      padding: 3% 0 1%;
    }
  }
  .item {
    background: $colorWhite;
    position: relative;
    padding: 30px 4% 30px;
    margin: 25px 0;
    box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.2);
    @include screen('xsMobile') {
      padding: 30px 5% 30px;
    }
  }
  .item a {
    display: block;
  }
  .date,
  .txt,
  .title {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    @include screen('mobile') {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .title {
    margin-top: -10%;
    margin-bottom: 20px;
    height: 75px;
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: rem(18);
      display: block;
      margin-bottom: 5px;
    }
  }
  .date {
    font-size: rem(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;
    @include screen('tablet') {
      font-size: rem(16);
    }
    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }
  .txt {
    font-size: rem(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeC {
  .flexSet {
    align-items: flex-end;
  }
  .item {
    margin-bottom: 30px;
    .pic {
      line-height: 0;
    }
    .col {
      padding: 0;
      margin: 0;
      & + .col {
        padding: 20px 0 0 3%;
      }
    }
  }
  .title {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: rem(20);
    color: #000;
    font-weight: 500;
    line-height: 1.6;
  }
  .date {
    font-size: rem(14);
    color: #666666;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 10px;
    position: relative;
    letter-spacing: 2px;
  }
  .txt {
    font-size: rem(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeD {
  .item a {
    display: block;
    padding-right: 20px;
    @include screen('mobile') {
      padding-right: 0px;
    }
  }
  .pic {
    position: relative;
    margin-bottom: 10px;
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      height: 30%;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    }
    img {
      width: 100%;
      aspect-ratio: 23/31;
      display: block;
      object-fit: cover;
    }
  }
  .topBox {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: -20px;
    z-index: 2;
  }
  .txt {
    margin-left: 30px;
    margin-right: 0px;
    position: relative;
    z-index: 1;
  }
  .title {
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 20px 0;
    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: rem(18);
      display: block;
      margin-bottom: 5px;
    }
  }
  .date {
    font-size: rem(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;
    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }
  .txt {
    font-size: rem(16);
    line-height: 1.6;
    letter-spacing: 1px;
    color: #545454;
  }
}

.listTypeE {
  .item a {
    display: block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
      background: rgb(0 0 0/20%) url('../images/demo/icon_play.png') center no-repeat;
      transition: 0.3s ease-out;
    }
    img {
      display: block;
    }
    &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}

.listTypeF {
  i {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 10px;
    background: linear-gradient(135deg, rgba(0, 93, 157, 1) 20%, rgba(152, 209, 167, 1) 100%);
    img {
      width: 60%;
    }
  }
  .txt {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: rem(16);
  }
}

.listTypeG {
  padding-bottom: 3%;
  background: url('../images/demo/listtypeg_bg.jpg') center no-repeat;
  .item a {
    display: block;
  }
  .pic {
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 1/2;
      display: block;
      object-fit: cover;
    }
  }
  .topBox {
    position: absolute;
    inset: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    padding: 0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    span {
      background: #000;
      padding: 5px 10px;
      color: #fff;
      font-size: rem(18);
      display: block;
      margin-bottom: 5px;
    }
  }
  .date {
    font-size: rem(18);
    color: #030303;
    display: block;
    font-family: 'Verdana';
    margin-bottom: 30px;
    position: relative;
    letter-spacing: 2px;
    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      display: block;
      bottom: -15px;
      left: 0;
      background: #001827;
    }
  }
}

.adSlider {
  padding: 3% 0 0;
  .swiperBox {
    padding: 0 50px;
  }
}

.news {
  background: $colorWhite;
  position: relative;
  padding: 0 5% 30px;
  margin: 25px 0;
  box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.2);
}
.video {
  .videoBox {
    background: #666;
    padding: 8px;
    margin: 25px 15px;
  }
  .imgContainer2 {
    aspect-ratio: 3/1.6;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
      // aspect-ratio: 3/1.6;
    }
  }
  .caption {
    color: $colorWhite;
    padding: 1.2em 1em;
    display: block;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  a {
    margin: 0;
    padding: 0;
  }
  .playimg {
    background: rgba(0, 0, 0, 0.2) url('../images/video_play.png') no-repeat center center;
    background-size: 80px auto;
    width: 100%;
    aspect-ratio: 3/1.6;
    display: block;
    object-fit: fill;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s ease-out;
    cursor: pointer;
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.4) url('../images/video_play.png') no-repeat center center;
      background-size: 60px auto;
    }
  }
}

.popupBox {
  margin: 4rem 0 0 0;
  padding: 10px 5%;
  background: #fff;
  h2 {
    margin: 0 0 1em;
  }

  .table1 {
    caption {
      font-size: 0;
    }
    label {
      margin: 0;
    }
    th {
      border: none;
      border-bottom: solid 1px #ddd;
    }
    td {
      text-align: center;
      padding: 0.5em;
      border: none;
      border-bottom: solid 1px #ddd;
    }
    .seltd {
      width: 3em;
    }
    .btnYellow {
      font-size: 0.938em;
      font-weight: normal;
      padding: 0.2em 0.5em;
      margin: 0 0 5px 0;
      border: solid 1px #ebc803;
      border-radius: 3px;
    }
    .aLeft {
      text-align: left;
    }
    .aRight {
      text-align: right;
    }
    .aCenter {
      text-align: center;
    }
  }
  .searchBox {
    box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.15);
    padding: 10px 5%;
    margin: 0 0 30px;
    .btnGrp {
      flex: 0 1 auto;
      @include screen('mobile') {
        flex: 1 1 auto;
      }
    }
  }

  .formGrp {
    label {
      text-align: right;
      margin: 0.5em 0;
      @include screen('xsMobile') {
      }
    }
    .formTitle {
      @include screen('mobile') {
        max-width: $formTitleWidth2;
        flex: 0 0 $formTitleWidth2;
        align-self: flex-start;
        padding: 0.3em 1em;
      }
    }
    .formContent {
      @include screen('mobile') {
        max-width: calc(100% - #{$formTitleWidth2});
        flex-basis: calc(100% - #{$formTitleWidth2});
      }
    }
  }
  .aCenter {
    justify-content: center;
  }
  .btnLg {
    min-width: 6em;
  }
  //sellistradio
  .sellistradio {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    label {
      flex: 0 1 calc(100% / 3);
      padding: 0.5em;
      margin: 0;
      border-bottom: dotted 1px #ccc;
      @include screen('mobile') {
        flex: 0 1 calc(100% / 2);
      }
      @include screen('xsMobile') {
        flex: 0 1 calc(100% / 1);
      }
    }
  }
  .mlistbox {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      border-top: solid 3px #eee;
      max-height: 10em;
      overflow-y: scroll;
      // border-bottom: solid 3px #eee;

      li {
        flex-basis: calc(100% / 6);
        max-width: calc(100% / 6);
        border-bottom: dotted 1px #ddd;
        box-sizing: border-box;
        @include screen('mobile') {
          flex-basis: calc(100% / 3);
          max-width: calc(100% / 3);
        }
        input[type='checkbox'],
        input[type='radio'] {
          margin: -0.2em 0.3em 0;
        }
      }
    }
    .btnYellow {
      font-size: 0.938em;
      font-weight: normal;
      padding: 0.2em 0.5em;
      margin: 0 0 5px 0;
      border: solid 1px #ebc803;
      border-radius: 3px;
      float: right;
      margin-top: -2.6em;
    }
    h3 {
      margin: 0.5em 0;
    }
  }
}

//自訂關鍵字詞

//  Ｘ：remove icon
.removeThis {
  position: absolute;
  height: 1.8em;
  width: 1.8em;
  border-radius: 50%;
  transition: 0.15s;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 2px;
    background: $gray;
    left: 50%;
    top: 50%;
    margin-top: -1px;
    margin-left: -8px;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(135deg);
  }

  &:hover {
    background-color: $hilight;

    &:before,
    &:after {
      background: $white;
    }
  }
}

// ---------- 自訂關鍵字組，可新增、刪除
.labelPool {
  padding: 8px;
  background: $grayLighter;
  width: 100%;
  margin: 0 4px;

  & > ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    min-height: 2.2em;
    line-height: 2.2em;
    white-space: nowrap;

    &.pdLabel {
      position: relative;
      margin: 3px;
      padding: 0 40px 0 0.7em;
      // border-radius: 2em;
      background: $white;
      border: 1px solid $gray;
    }

    .removeThis {
      top: 0.2em;
      right: 0.2em;
    }

    &.addOne {
      display: flex;
      float: none;
      clear: both;
      font-size: 1em;
      padding: 10px 2px 5px;

      input[type='text'] {
        flex: 1 1 90%;
        font-size: 1em;
        height: 2.2em;
        line-height: 2.2em;
        // border-radius: 2em;
        padding: 0 0.8em;
        border: none;
        background: $white;
        box-shadow: $gray 0 0 0 1px;

        &:focus {
          box-shadow: $hilight 0 0 0 2px;
          border-color: $hilight;
          cursor: text;
        }
      }

      .addThis {
        flex: 0 0 2em;
        width: 2.2em;
        height: 2.2em;
        margin: 0.4em auto auto 6px;
        text-align: center;
        background: $colorPrimary;
        color: $colorWord;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.2s;

        &::before {
          content: '+';
          display: block;
          font-size: 1.5em;
          line-height: 1.3em;
        }

        &:hover,
        &:focus {
          // box-shadow: $hilight 0 0 0 2px;
          background: darken($colorPrimary, 10);
        }
      }
      .mList {
        .btn {
          margin: 0.4em;
          padding: 0.4em 1em;
        }
      }
    }
  }

  @media screen and (min-width: 760px) {
    li {
      &.addOne {
        float: left;
        width: 14em;
        margin: 4px 2px 0 4px;
        padding: 0 0 2px;
        clear: none;
        font-size: 1em;
        overflow: visible;

        input[type='text'] {
          flex: 0 0 0;
          width: 0;
          padding: 0;
          margin: 0;
          opacity: 0;
          transition: width 0.6s;

          &:focus {
            box-shadow: $hilight 0 0 0 2px;
          }
        }

        .addThis {
          height: 2.2em;
          width: 2.2em;
          line-height: 2.2em;
          margin: 0.1em 0 auto;

          &::before {
            font-size: 1.6em;
            line-height: 1.15em;
          }
        }

        .mList {
          .btn {
            margin: 0 0.5em;
            padding: 0.4em 1em;
          }
        }

        &.typing {
          input[type='text'] {
            flex-basis: auto;
            opacity: 1;
            margin-right: 6px;
            padding: 0 10px;
            width: 10em;
          }
        }
      }
    }
  }
}
