@charset "utf-8";
// 文章標題
.login {
  width: 60%;
  margin: 30px auto;
  @include screen('mobile') {
    width: 80%;
  }
  @include screen('xsMobile') {
    width: 90%;
  }
  .flexForm {
    background: #eee url('../images/body_bg.png') repeat left top;
    padding: 20px 30px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border: solid 1px #dfdede;
    @include screen('xsMobile') {
      padding: 20px;
    }
    .formTitle {
      max-width: 15%;
      flex: 0 0 15%;
      white-space: nowrap;
      @include screen('mobile') {
        max-width: calc(100% - 0.6em);
        flex-basis: calc(100% - 0.6em);
      }
    }
    .formContent {
      max-width: calc(100% - 15%);
      flex: auto;
      flex-basis: calc(100% - 15%);
      @include screen('mobile') {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
  p {
    span {
      color: $colorRed;
    }
  }
}
.aRight {
  float: right;
}
.aRight2 {
  justify-content: flex-end;
}
.btnGrp2 {
  padding-bottom: 0.5em;
}
.btnGrp3 {
  margin-top: 2.4rem;
  @include screen('tablet') {
    margin-top: 0;
  }
}
.btnGrp4 {
  margin-top: 2.4rem;
  @media screen and (max-width: 575px) {
    margin-top: 0;
  }
}
.labelhidden {
  font-size: 0;
}
.proposal_detail {
  table {
    th {
      text-align: right;
      vertical-align: top;
      width: 30%;
      padding: 1em;
    }
  }
  a {
    color: $aHover;
    text-decoration: underline;
    &:hover {
      color: $aColor;
      text-decoration: none;
    }
  }
}
.listflex {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: solid 1px $colorGray;
    padding: 1em 0;
    @include screen('xsMobile') {
      padding: 0.5em 0;
    }
    &.pintopBlock {
      .item5 {
        background: #fef6e0;
        border-left: solid 5px $colorPrimary;
      }
    }
    .item {
      flex: 0 0 2em;
      text-align: center;
      padding: 0.5em 0;
    }
    .item2 {
      flex: 1 1 auto;
      padding: 0.5em 0;
      position: relative;
      // max-width: 72%;
      max-width: 100%;
      @include screen('tablet') {
        // max-width: 80%;
        max-width: 100%;
      }
      @include screen('xsMobile') {
        max-width: 100%;
      }
    }
    .item3 {
      flex: 1 1 auto;
      text-align: right;
      padding: 0.5em 0;
    }
    a {
      display: block;
      font-size: 1.125em;
      font-weight: bold;
      padding: 0.5em 0.5em 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include screen('xsMobile') {
        white-space: normal;
      }
      .litext {
      }
    }
    label {
      margin: 0;
    }
    .dept {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      background: $colorLight;
      border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 1em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .pintop {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      background: #d804b3;
      border-radius: 2em;
      min-width: 2em;
      text-align: center;
      padding: 0 1em;
      margin: 2px 0.5em 2px 0;
      color: #fff;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .date {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      // background: $colorLight;
      // border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 0.5em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .starpage {
      color: $colorWord;
      background: $colorYellow;
      min-width: 5em;
      text-align: center;
      font-size: 0.938em;
      display: inline-block;
      padding: 0 0.5em;
    }
    .regular {
      color: $colorWord;
      background: $colorRed2;
      min-width: 5em;
      text-align: center;
      font-size: 0.938em;
      display: inline-block;
      padding: 0 0.5em;
    }
    .item5 {
      flex: 1 1 auto;
      padding: 0.5em 0.3em;
      position: relative;
      max-width: 100%;
      // @include screen('tablet') {
      //   max-width: 80%;
      // }
      // @include screen('xsMobile') {
      //   max-width: 100%;
      // }
    }
  }
}

//listflex2
.listflex2 {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: solid 1px $colorGray;
    padding: 1em 0;
    @include screen('xsMobile') {
      padding: 0.5em 0;
    }
    .item {
      flex: 0 0 2em;
      text-align: center;
      padding: 0.5em 0;
    }
    .item2 {
      flex: 1 1 auto;
      padding: 0.5em 0;
      position: relative;
      max-width: 75%;
      &.w90 {
        max-width: 90%;
      }
      @include screen('notebook') {
        max-width: 90%;
      }
      @media screen and (max-width: 1300px) {
        max-width: 90%;
        min-width: 90%;
      }
      @include screen('tablet') {
        max-width: 100%;
      }
      @include screen('xsMobile') {
        max-width: 100%;
      }
    }
    .item3 {
      flex: 1 1 auto;
      text-align: right;
      padding: 0.5em 0;
      .btn {
        padding: 0em;
        margin-left: 5px;
        border-radius: 0;
      }
    }
    .item4 {
      flex: 0 0 auto;
      text-align: right;
      padding: 0.5em 0;
      .btn {
        padding: 0em;
        margin-left: 5px;
        border-radius: 0;
      }
    }

    a {
      display: block;
      font-size: 1.125em;
      // font-weight: bold;
      padding: 0.5em 0.5em 0;
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // @include screen('xsMobile') {
      //   white-space: normal;
      // }
      .litext {
      }
    }
    label {
      margin: 0;
    }
    .dept {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      background: $colorLight;
      border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 1em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .date {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      // background: $colorLight;
      // border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 0.5em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .starpage {
      color: $colorWord;
      background: $colorYellow;
      min-width: 5em;
      text-align: center;
      font-size: 0.938em;
      display: inline-block;
      padding: 0 0.5em;
      min-width: 8em;
    }
    .regular {
      color: $colorWord;
      background: $colorRed2;
      min-width: 5em;
      text-align: center;
      font-size: 0.938em;
      display: inline-block;
      padding: 0 0.5em;
    }
  }
}
//searchflex
.searchflex {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background: #eee;
  padding: 5px;
  @include screen('xsMobile') {
    flex-flow: row wrap;
    justify-content: flex-start;
    // justify-content: center;
  }
  select {
    flex: 0 0 8em;
    @include screen('xsMobile') {
      flex: 1 1 38%;
      max-width: 50%;
    }
  }
  input {
    flex: 1 1 auto;
    // max-width: 70%;
    @include screen('xsMobile') {
      flex: 1 1 100%;
      max-width: calc(100% - 50px);
    }
  }
  .btnSearch {
    margin-left: -41px;
    width: 45px;
    padding: 6px 8px;
    margin-right: 10px;
    background: $colorPrimary url(../images/icon_search.png) no-repeat center center;
    background-size: 20px auto;
    border: solid 1px darken($colorPrimary, 10);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover,
    &:focus {
      background: darken($colorPrimary, 5) url(../images/icon_search.png) no-repeat center center;
      background-size: 20px auto;
      border: solid 1px darken($colorPrimary, 20);
    }
  }
  .btn {
    min-width: auto;
    background: #ccc;
    &:hover,
    &:focus {
      background: #bbb;
    }
  }
  .btnPrimary {
    background: $colorPrimary;
    &:hover,
    &:focus {
      background: darken($colorPrimary, 8);
    }
  }
  label {
    display: none;
  }
}

.searchflex2 {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: end;
  background: #eee;
  padding: 5px;
  @include screen('xsMobile') {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  select {
    flex: 0 0 8em;
    @include screen('xsMobile') {
      flex: 1 1 38%;
      max-width: 46%;
    }
  }
  input {
    flex: 1 1 auto;
    max-width: 70%;
    @include screen('xsMobile') {
      flex: 1 1 94%;
      max-width: 94%;
    }
  }
  .btnSearch {
    margin-left: -45px;
    background-size: 20px auto;
    width: 40px;
    padding: 8px;
    margin-right: 10px;
  }
  label {
    display: none;
  }
}

.selbox {
  margin-top: 1em;
  .btn {
    padding: 0.2em 0.5em;
    span {
      margin-right: 5px;
    }
  }
}
.dataSearch {
  position: relative;
  background: #fff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 1em;
  h2 {
    background: $colorPrimary;
    padding: 10px;
    font-size: 1.25rem;
  }
  .clearBtn {
    float: right;
    margin: -52px 5px 0 5px;
    padding: 0.1em 0.5em;
    font-size: 0.938em;
    background: #fff;
  }
  .ftitle {
    font-weight: bold;
    font-size: 1.125em;
    // border-bottom: solid 5px $colorLight;
    display: block;
    padding: 5px 8px;
    background: #eee;
    width: 100%;
  }
  h3.ftitle {
    margin: 0.5em 0;
  }
  input,
  select {
    margin-bottom: 1em;
  }
  fieldset {
    margin-bottom: 1em;
  }
  .ul_list {
    list-style: none;
    margin: 0;
    padding: 0 0 1.5em;
    li {
      padding: 0.3em 1em 0.3em 1.5em;
      background: url(../images/li_arrow.png) no-repeat left 0.5em top 0.75rem;
      background-size: 10px;
    }
    &.scrollBox {
      max-height: 50vh;
      // overflow: auto;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

//searchflex3
.searchflex3 {
  div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background: #eee;
    padding: 5px;
    @include screen('xsMobile') {
      flex-flow: row wrap;
      justify-content: flex-start;
      // justify-content: center;
    }
    select {
      flex: 0 0 8em;
      @include screen('xsMobile') {
        flex: 1 1 38%;
        max-width: 50%;
      }
    }
    select + select {
      flex: 1 1 auto;
      @include screen('mobile') {
        flex: 1 1 calc(100% - 80px);
        max-width: 100%;
      }
    }
    input {
      flex: 1 1 auto;
      // max-width: 70%;
      @include screen('xsMobile') {
        flex: 1 1 calc(100% - 80px);
        max-width: 99%;
      }
    }
    .btnSearch {
      margin-left: -30px;
      width: 40px;
      padding: 7px 8px;
      margin-right: 10px;
      background: $colorPrimary url(../images/icon_search.png) no-repeat center center;
      background-size: 20px auto;
      border: solid 1px darken($colorPrimary, 10);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &:hover,
      &:focus {
        background: darken($colorPrimary, 5) url(../images/icon_search.png) no-repeat center center;
        background-size: 20px auto;
        border: solid 1px darken($colorPrimary, 20);
      }
    }
    .btnSearch2 {
      margin-left: -6px;
      width: 40px;
      padding: 7px 8px;
      margin-right: 10px;
      background: $colorPrimary url(../images/icon_search.png) no-repeat center center;
      background-size: 20px auto;
      border: solid 1px darken($colorPrimary, 10);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 0;
      &:hover,
      &:focus {
        background: darken($colorPrimary, 5) url(../images/icon_search.png) no-repeat center center;
        background-size: 20px auto;
        border: solid 1px darken($colorPrimary, 20);
      }
    }
    .btn {
      min-width: auto;
      background: #ccc;
      &:hover,
      &:focus {
        background: #bbb;
      }
    }
    .btnPrimary {
      background: $colorPrimary;
      &:hover,
      &:focus {
        background: darken($colorPrimary, 8);
      }
    }
    label {
      display: none;
    }
  }
}

.printBox {
  .formGrp {
    justify-content: flex-start;
    .btn {
      margin-right: 0.5em;
    }
  }
  .printBtn {
    min-width: 2em;
    padding: 0.5em 0.8em;
  }
}
//historytb
.historytb {
  .aLeft {
    text-align: left;
  }
  .aCenter {
    text-align: center;
  }
  .aRight {
    text-align: right;
  }
  .activeTh {
    width: 30%;
  }
  .btn {
    min-width: 2em;
    padding: 0.5em 0.8em;
  }
}
//formBox
.formBox {
  margin: 1em;
  @include screen('xsMobile') {
    margin: 0.5em;
  }
  h3 {
    font-weight: normal;
    padding: 0;
    // border-bottom: dotted 1px #ccc;
    flex: 1 1 100%;
    max-width: 100%;
    font-size: 1rem;
  }
}
// pdfViewBox
.pdfViewBox {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .col {
    flex: 1 1 auto;

    &:nth-child(2) {
      flex: 0 0 200px;
    }
  }
  h1 {
    height: 58px;
    margin: 0 0 20px 0;
    padding: 10px 0;
    background: url(../images/body_bg.png) repeat left top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 0;
  }
  h2 {
    font-size: 1.25em;
    border-left: solid 5px $colorPrimary;
    padding-left: 8px;
    line-height: 1.25em;
  }
  .title {
    font-weight: bold;
    font-size: 1em;
    color: darken($colorPrimary, 40);
  }
  .content {
    padding: 0 10px 20px;
  }
  ul {
    font-size: 0.938em;
    padding: 0 0 0 1.5em;
    li {
      margin-bottom: 5px;
    }
    ul {
      font-size: 1em;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        background: url('../images/li_arrow.png') no-repeat left 2px top 0.4em;
        background-size: 10px auto;
        padding-left: 14px;
      }
    }
  }
  a {
    color: darken($colorPrimary, 40);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: $colorRed;
    }
  }
  p {
    font-size: 0.938em;
    padding: 0 5px 10px 5px;
  }
  .pagelist {
    font-size: 0.875em;
    font-weight: bold;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 2px;
  }
  .btnGrp {
    justify-content: center;
  }
  .btn {
    padding: 0.2em 0.5em;
    font-size: 0.875em;
    margin: 5px;
    font-weight: normal;
    // text-shadow: 0px 1px 2px #fff;
  }
  [class^='i_']:before {
    width: 0.8em;
    height: 0.8em;
  }
}

// pdfViewBox2
.pdfViewBox2 {
  display: flex;
  flex-flow: row;
  align-items: flex-start;

  .col {
    flex: 0 0 200px;

    &:nth-child(2) {
      flex: 1 1 auto;
    }
  }
  h1 {
    height: 58px;
    margin: 0 0 20px 0;
    padding: 10px 0;
    background: url(../images/body_bg.png) repeat left top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 0;
  }
  h2 {
    font-size: 1.25em;
    border-left: solid 5px $colorPrimary;
    padding-left: 8px;
    line-height: 1em;
  }
  h3.title {
    font-weight: bold;
    font-size: 1em;
    color: darken($colorPrimary, 40);
    margin-left: 1em;
  }
  .content {
    padding: 0 10px 20px;
  }
  ul {
    font-size: 0.938em;
    li {
      margin-bottom: 5px;
    }
    ul {
      font-size: 1em;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        background: url('../images/li_arrow.png') no-repeat left 2px top 0.4em;
        background-size: 10px auto;
        padding-left: 14px;
      }
    }
  }
  a {
    color: darken($colorPrimary, 40);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: $colorRed;
    }
  }
  .btnGrp {
    justify-content: center;
  }
  .btn {
    padding: 0.2em 0.5em;
    font-size: 0.938em;
    margin: 5px;
    font-weight: normal;
    // text-shadow: 0px 1px 2px #fff;
  }
  [class^='i_']:before {
    width: 0.8em;
    height: 0.8em;
  }
  .page {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    font-size: 0.938rem;
    .col {
      box-sizing: border-box;
      text-align: center;
      flex: 1 1 auto;
      padding: 0 5px;
      input {
        width: calc(100% - 6em);
      }
      label {
      }
    }
    .btn {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0;
    }
  }
}

// pdfViewBox3
.pdfViewBox3 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .col {
    flex: 1 1 auto;

    &:nth-child(2) {
      flex: 0 0 250px;
    }
  }
  h1 {
    height: 58px;
    margin: 0 0 20px 0;
    padding: 5px 0;
    background: url(../images/body_bg.png) repeat left top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 0;
  }
  h2 {
    font-size: 1.25em;
    border-left: solid 5px $colorPrimary;
    padding-left: 8px;
    line-height: 1.25em;
  }
  .title {
    font-weight: bold;
    font-size: 1em;
    color: darken($colorPrimary, 40);
  }
  .content {
    padding: 0 10px 20px;
  }
  ul {
    font-size: 0.938em;
    padding: 0 0 0 1.5em;
    li {
      margin-bottom: 5px;
    }
    ul {
      font-size: 1em;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        background: url('../images/li_arrow.png') no-repeat left 2px top 0.4em;
        background-size: 10px auto;
        padding-left: 14px;
      }
    }
  }
  a {
    color: darken($colorPrimary, 40);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: $colorRed;
    }
  }
  p {
    font-size: 0.938em;
    padding: 0 5px 10px 5px;
  }
  .pagelist {
    font-size: 0.875em;
    font-weight: bold;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 2px;
  }
  .btnGrp {
    justify-content: center;
  }
  .btn {
    padding: 0.2em 0.5em;
    font-size: 0.875em;
    margin: 5px;
    font-weight: normal;
    // text-shadow: 0px 1px 2px #fff;
  }
  [class^='i_']:before {
    width: 0.8em;
    height: 0.8em;
  }
}

// pdfViewBox4
.pdfViewBox4 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .col {
    flex: 1 1 auto;

    &:nth-child(2) {
      flex: 0 0 200px;
    }
  }
  h1 {
    height: 58px;
    margin: 0 0 20px 0;
    padding: 10px 0;
    background: url(../images/body_bg.png) repeat left top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 0;
  }
  h2 {
    font-size: 1.25em;
    border-left: solid 5px $colorPrimary;
    padding-left: 8px;
    line-height: 1.25em;
  }
  .title {
    font-weight: bold;
    font-size: 1em;
    color: darken($colorPrimary, 40);
  }
  .content {
    padding: 0 10px 20px;
  }
  ul {
    font-size: 0.938em;
    padding: 0 0 0 1.5em;
    li {
      margin-bottom: 5px;
    }
    ul {
      font-size: 1em;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        background: url('../images/li_arrow.png') no-repeat left 2px top 0.4em;
        background-size: 10px auto;
        padding-left: 14px;
      }
    }
  }
  a {
    color: darken($colorPrimary, 40);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: $colorRed;
    }
  }
  p {
    font-size: 0.938em;
    padding: 0 5px 10px 5px;
  }
  .pagelist {
    font-size: 0.875em;
    font-weight: bold;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 2px;
  }
  .btnGrp {
    justify-content: center;
  }
  .btn {
    padding: 0.2em 0.5em;
    // font-size: 0.875em;
    margin: 5px;
    font-weight: normal;
    // text-shadow: 0px 1px 2px #fff;
  }
  [class^='i_']:before {
    width: 0.8em;
    height: 0.8em;
  }
  form {
    font-size: 0.938em;
    text-align: center;
    span {
      margin: 0 2px;
      color: #c00;
    }
  }
  label {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .pageinput {
    max-width: 4em;
    padding: 0.3em 0.5em;
  }
  select {
    margin: 0.3em 0;
    padding: 0.3em 1.5em 0.3em 0.5em;
    &.selup {
      background: #fff url(../images/icon/icon_selup.svg) no-repeat right 2px center;
      background-size: 12px;
    }
    &.seldown {
      background: #fff url(../images/icon/icon_seldown.svg) no-repeat right 2px center;
      background-size: 12px;
    }
  }
}

.condition {
  background: #eee url('../images/li_arrow.png') no-repeat left 10px top 0.9em;
  background-size: 12px auto;
  padding: 0.5em 0.5em 0.5em 25px;
  font-size: 0.938em;
  em {
    color: $colorRed;
    font-style: normal;
  }
}

///help2
.help2 {
  position: relative;
  display: inline-block;
  text-indent: 0;
  padding-left: 0;
  text-align: left;
  .keyword {
    color: #c00 !important;
  }

  .taghover {
    color: $colorWord;
    // font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    &:hover,
    &:focus {
      color: $aHover;
      padding: 0 !important;
      // background: #ffff00;
    }
    &.txt2col {
      @include textLine(2, 1.5em);
    }
  }

  .readset {
    position: absolute;
    z-index: 999;
    width: 320px;
    display: none;
    background: #ffffd9;
    padding: 5px 1em;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-family: Lato, 'PingFang TC', 'Helvetica Neue', Helvetica, 微軟正黑體, 新細明體, Arial, sans-serif;
    font-size: 0.938rem;
    color: #333;
    @include screen('mobile') {
      display: none !important;
    }
  }
  .close_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    background: none;
    border: none !important;

    &:before {
      content: '';
      width: 40px;
      height: 40px;
      background: url('../images/icon_close.png') no-repeat center center;
      background-size: 40px auto;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
    }
  }
  p {
    margin: 0.5em 0;
  }
  em {
    color: $colorRed;
    font-style: normal;
  }
}
.print5_5 {
  align-items: flex-start;
  .formGrp {
    flex: 1 1 45%;
  }
  .sub_fun {
    margin-left: 1.2em;
    width: 100%;
  }
  .btnGrp {
    flex: 1 1 auto !important;
  }
}

//listflex3
.listflex3 {
  .t1 {
    font-size: 1.25em;
    background: #eee;
    padding: 0.5em;
    border-left: solid 5px $colorPrimary;
    font-weight: bold;
  }
  ul {
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: solid 1px $colorGray;
    padding: 0.5em 0;
    @include screen('xsMobile') {
      padding: 0.5em 0;
    }
    .item {
      flex: 0 0 2em;
      text-align: center;
      padding: 0.5em 0;
    }
    .item2 {
      flex: 1 1 auto;
      padding: 0.5em 0;
      position: relative;
      max-width: 100%;
      @include screen('tablet') {
        max-width: 100%;
      }
      @include screen('xsMobile') {
        max-width: 100%;
      }
    }
    .item3 {
      flex: 1 1 auto;
      text-align: right;
      padding: 0.5em 0;
    }
    a {
      display: block;
      font-size: 1.125em;
      font-weight: bold;
      padding: 0.5em;
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // @include screen('xsMobile') {
      //   white-space: normal;
      // }
      .litext {
      }
    }
    label {
      margin: 0;
    }
    .dept2 {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      background: $colorLight;
      border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 1em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .issuedate {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      background: $colorRed2;
      border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 1em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .issuedate2 {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      background: $colorRed2;
      border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 1em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .rollbox {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      max-width: 100%;

      a {
        flex: 1 1 auto;
      }
      .t2 {
        flex: 1 1 auto;
        padding: 0 0.5em;
        font-size: 1.125em;
        max-width: 68%;
        @include screen('notebook') {
          max-width: 63%;
        }
        @media screen and (max-width: 1200px) {
          max-width: 58%;
        }
        @media screen and (max-width: 1100px) {
          max-width: 55%;
        }
        @include screen('tablet') {
          flex: 1 1 96%;
          max-width: 96%;
          margin-bottom: 0.5em;
        }
        // @include screen('mobile') {
        //   flex: 1 1 100%;
        //   max-width: 100%;
        // }
      }
      .num {
        position: relative;
        max-width: 4em;
        &:after {
          content: ' .';
          width: 1em;
          height: 1em;
        }
      }
      .dept2 {
        flex: 0 0 13em;
      }
      .issuedate {
        flex: 0 0 10em;
      }
      .issuedate2 {
        flex: 0 0 10em;
        @include screen('xsMobile') {
          flex: 1 1 100%;
          margin: 1em 0;
        }
      }
    }
    .dept {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      background: $colorLight;
      border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 1em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }

    .date {
      display: inline-block;
      font-size: 0.938em;
      font-weight: normal;
      // background: $colorLight;
      // border-radius: 2em;
      min-width: 5em;
      text-align: center;
      padding: 0 0.5em;
      margin: 2px 0.5em 2px 0;
      @include screen('xsMobile') {
        margin: 2px 0.5em;
      }
    }
    .starpage {
      color: $colorWord;
      background: $colorYellow;
      min-width: 5em;
      text-align: center;
      font-size: 0.938em;
      display: inline-block;
      padding: 0 0.5em;
    }
    .regular {
      color: $colorWord;
      background: $colorRed2;
      min-width: 5em;
      text-align: center;
      font-size: 0.938em;
      display: inline-block;
      padding: 0 0.5em;
    }
  }
  .btnEpaper {
    margin-left: 0.5em;
    @include screen('xsMobile') {
      min-width: 45%;
    }
  }
}

.t_arrow {
  background: url(../images/li_arrow.png) no-repeat left top 0.75em;
  background-size: 10px auto;
  padding-left: 1em !important;
}
.lph3 {
  font-size: 1.25em;
  font-weight: bold;
  color: darken($colorPrimary, 30%);
  margin: 0.5em 0;
}
.iconBlock {
  text-align: right;
  margin-bottom: 0.5em;
  @include screen('xsMobile') {
    .btn {
      padding: 0.5em;
    }
  }
}
.historyBox {
  margin: 1em;
  h3 {
    font-size: 1.35em;
    border-left: solid 5px $colorPrimary;
    padding-left: 0.5em;
  }

  @include screen('xsMobile') {
    margin: 0.5em;
  }
}

.upload_area {
  flex: 1 1 100%;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  p {
    color: #666;
    font-size: 0.875em;
  }
  .upload_notice {
    color: #333;
    font-size: 1rem;
  }

  .ui-sortable {
    .file {
      background: #eee;
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      height: 3em;

      .pic {
        flex: 0 0 3em;
        img {
          width: 3em;
          height: 3em;
          margin: 0;
        }
      }
      span {
        flex: 1 1 auto;
        padding: 0 5px;
        font-size: 0.938em;
        em {
          font-style: normal;
          margin-left: 1em;
        }
      }
      .delete {
        background: #666;
        padding: 3px;
        width: 2em !important;
        height: 2em;
        text-align: center;
        border-radius: 4px;
        margin: 0 5px;
        .i_close {
          font-size: 0.875em !important;
        }
      }
    }
    .notice_error {
      background: #ffced1;
      span {
        em {
          color: #c00;
        }
      }
    }
  }
}
