.accordion {
  ul {
    list-style: none;
    padding: 0;
    font-size: 1.125em;
    li {
      margin-bottom: 0.5em;
      .accordionList {
        width: 100%;
        border: none;
        border-radius: 0;
        display: block;
        text-align: left;
        background-color: #eee;
        color: $colorWord;
        text-decoration: none;
        padding: 15px 50px 15px 20px;
        position: relative;
      }
      &.active .accordionArrow {
        top: calc(50% - 2px);
        transform: rotate(225deg);
      }
    }
  }
  .accordionContent {
    line-height: 1.45em;
    transition: height 0.3s linear;
    overflow: hidden;
    display: none;
    .content {
      padding: 10px;
      font-size: 1rem;
      a {
        color: $aHover;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .accordionState {
    margin-left: 10px;
    display: none;
  }
  .accordionArrow {
    position: absolute;
    top: calc(50% - 7px);
    right: 30px;
    transform: rotate(45deg);
    transform-origin: center center;
    &:after {
      content: '';
      border: 2px solid $colorWord;
      border-top: none;
      border-left: none;
      display: block;
      width: 8px;
      height: 8px;
    }
    &.open {
      &:after {
        top: 8px;
        transform: rotate(225deg);
      }
    }
  }
  .question {
    font-weight: bold;
    color: $aHover;
    font-size: 1.25em;
    margin-right: 5px;
  }
}
//
